<h1>Welcome to {{title}}</h1>
<h3>Node Version: {{nodeVersion}}</h3>
<h3>Server Uptime</h3>
<p>Days: {{days}}</p>
<p>Hours: {{hours}}</p>
<p>Minutes: {{minutes}}</p>
<p>Seconds: {{seconds}}</p>
<p>Milliseconds: {{milliseconds}}</p>